 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Inter", sans-serif;
 }

 body {
     font-family: "Inter", sans-serif;
     background-color:  rgb(105, 63, 38);
 }

 header {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 24px 64px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #fff;
     z-index: 10;
 }

 header nav a {
     margin-left: 24px;
     text-decoration: none;
     color: #fff;
     font-weight: 300;
 }

 .btn {
     padding: 10px 22px;
     border-radius: 20px;
     border: none;
     background: #77370c;
     color: #fff;
     cursor: pointer;
     /* margin-left: px; */
 }

 .btnn {
     padding: 10px 22px;
     border-radius: 20px;
     border: none;
     background: #77370c;
     color: #fff;
     cursor: pointer;
     margin-left: 15px;
     
 }


 a {
     text-decoration: none;
     }

 .hero {
     height: 100vh;
     background: linear-gradient(to bottom,
             rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
             rgb(0, 0, 0)),
         url("img/i1.jpg") center/cover no-repeat;
     display: flex;
     align-items: center;
     padding: 0 64px;
 }

 .hero-content {
     max-width: 520px;
     color: #fff;
 }

 .hero-content h1 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 64px;
     margin-bottom: 16px;
 }

 .hero-content p {
     font-size: 15px;
     line-height: 1.6;
     margin-bottom: 24px;
     opacity: 0.9;
 }

 .head {
     /* background: linear-gradient(to bottom, rgba(63, 11, 11, 0.6)); */
     border-radius: 40px;
     padding: 0px 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* box-shadow: 0 4px 10px rgba(0,0,0,0.3); */
 }

 .head h1 {
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 }

 .gallery {
     position: absolute;
     right: 64px;
     bottom: 80px;
     display: flex;
     gap: 16px;
     width: 550px;
     overflow-x: auto;
     /* ทำให้เลื่อนได้ */
     padding-bottom: 10px;
     scroll-behavior: smooth;

 }

 .gallery::-webkit-scrollbar {
     height: 6px;
 }

 .gallery img {
     width: 260px;
     height: 320px;
     object-fit: cover;
     border-radius: 16px;
     border: 3px solid rgba(255, 255, 255, 0.7);
 }

 .logo img {
     width: 70px;
 }

 .hero-content p {
     text-indent: 0px;
 }

 .hero-content h1 {
     font-size: 50px;
 }

 .places {
     height: 200px;
     background-color: #835c3b;
 }



 @media (max-width: 900px) {
     header {
         padding: 20px;
     }

     .hero {
         padding: 0 20px;
     }

     .hero-content h1 {
         font-size: 42px;
     }

     .gallery {
         display: none;
     }
 }




 .places {
     padding: 80px 150px;
     background: #000000;
     background: linear-gradient(to bottom,
             rgba(0, 0, 0, 1),
             rgb(105, 63, 38));
     height: 100pc;
     color: #fff;

 }

 .places .h2 {
     text-align: center;
     margin-bottom: 100px;
     margin-top: 0px;
     font-size: 32px;

 }

 .places h3 {
    font-size: 28px;
 }

 .place-row {
     /* display: flex; */
     /* align-items: center; */
     gap: 40px;
     margin-bottom: 60px;
 }

 .place-row.reverse {
     flex-direction: row-reverse;
     /* จุดสำคัญ */
 }

 .place-row .img {
     width: 100%;
     height: 580px;
     object-fit: cover;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     gap: 40px;
     /* background-color: #fff; */

 }
 .place-row .img-left {
    width: 70%;
     height: 580px;
     object-fit: cover;
     border-radius: 20px;
 }
     
 .place-row .img-rigth {
     width: 30%;
     height: 580px;
     object-fit: cover;
     border-radius: 20px;
 }

 .place-text {
     width: 55%;
     /* margin: 20px; */
     margin-bottom: 30px;
     
 }

 

 .place-text h3 {
     font-size: 24px;
     margin-bottom: 12px;
 }

 .place-text p {
     font-size: 15px;
     line-height: 1.7;
     color: #ffffff;
 }

 /* Responsive */
 @media (max-width: 768px) {

     .place-row,
     .place-row.reverse {
         flex-direction: column;
     }

     .place-row img,
     .place-text {
         width: 100%;
     }
 }


 .site-footer {
  /* background: linear-gradient(180deg, #1a1028, #12081f); */
  color: #ccc;
  padding: 40px 10%;
  text-align: center;
  margin-top: 100px;

}

.footer-content h3 {
  color: #ffd66b;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-content p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 8px;
}

.footer-content .copyright {
  font-size: 0.8rem;
  color: #888;
  margin-top: 15px;
}


#kkuLogo {
  display: block;
  /* margin: 20px auto; */
  width: 80px;
}




.form-container {

  width: 100%;
  margin: 50px auto;
  margin-bottom: 100px;
  margin-top: 100px;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  color: #000000;
}

h2 {
  text-align: center;
}



label {
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 100px;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #b3480b;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}